<%= form_for current_user.registrations.find_by_event_id(@event),
             :html => { :method => :delete },
             :remote => true do |f| %>
  <div class="actions"><%= f.submit "Unattend" %></div>
<% end %>