<p>
  <% if current_user.admin? %>
  <%= link_to 'Create a New Event', new_event_path(@event) %>
  <% end %>
<p>

<h1>All Events</h1>

<%= will_paginate %>

<ul class="events">
  <%= render @events %>
</ul>
</br>

<%= will_paginate %>
