<div class="content">
<h1>About the Grampian Spider Group</h1>
<p>The current Grampian Spider Group was formed following a spider identification training course run by local spider expert Mike Davidson in 2007.</p></br>
<p>Since then, the group has been organising regular field survey events all around the Grampian area.</p></br>
<p>In 2009, the group began surveying locally designated conservation sites at the request of Aberdeenshire Council.</p></br>
<p> In 2011, the Grampian Spider Group also began to hold regular microscope ID workshops at the University of Aberdeen. Helping people to learn the practical skills needed to identify the species of a spider.</p></br>
<p>All our events are open to all abilities. In short, you may not need to bring much more than yourself, a note pad and pencil.</p></br>
<p>For field events, you will also need appropriate outdoor clothing and footwear. In addition, books on spider identification, bug-viewing pots, a hand lens and a pooter are always useful.</p></br>
<p>Many spiders are best identified in alcohol under a microscope. We are more than happy to take any samples which are collected during field excursions for formal identification and recording and then to return them to you at a later date. </p>
</div>


