<div class="content">
<h1>Contact Us </h1>

<p>The current group is organised by Mike Davidson, Alistair Watson and Bee Smith:</p><br/>

<ul>
<li>Mike is the Grampian recorder for the <a href=" http://srs.britishspiders.org.uk/portal.php/p/About+the+Spider+Recording+Scheme ">Spider Recording Scheme </a> and the <a href=" http://wiki.britishspiders.org.uk/index.php5?title=Opiliones_Recording_Scheme "> Opiliones Recording Scheme </a> and is the Area Organiser for the <a href="http://wiki.britishspiders.org.uk/"> British Arachnological Society </a>. Mike responds to questions about identification. He can be contacted via email at <a href="mailto:mike.davidson55@btinternet.com">mike.davidson55@btinternet.com</a>.</li><br/>
<li>Alistair generally acts as the first point of contact for the Grampian Spider Group and also co-ordinates the group's field events. To contact Alistair, email <a href="mailto:alistair.grampianspidergroup@hotmail.com">alistair.grampianspidergroup@hotmail.com</a></li><br/>
<li> Bee organises the bookings for identification workshop sessions at the University of Aberdeen Zoology Building. For more information or to book a place call <font color="#4eba5b">01224 273633</font> or email <a href="mailto:bethel.smith@aberdeenshire.gov.uk">bethel.smith@aberdeenshire.gov.uk</a></li>
</ul>
</div