<div class=content>
<h1>Useful Resources</h1>
<p>We recommend the following books, the first two to interested beginners (both of which can also be obtained more cheaply secondhand):</p></br>

<div class="books">
<img src= "http://www.field-studies-council.org/images/publications/readmore/197.jpg"/>
<a href="http://www.field-studies-council.org/publications/pubsinfo.aspx?Code=197">Keys to the Families of British Spiders - Field Studies Council Aidgap Guide</a><p>L.M. Jones-Walters</p>
</div>
<div class="books">
<img src= "http://images.harpercollins.co.uk/hcwebimages/HCCOVERS/024500/024589-FC222.jpg"/>
<a href="http://www.harpercollins.co.uk/Titles/24589/spiders-of-britain-and-northern-europe-michael-j-roberts-9780002199810">Collins Field Guide Spiders of Britain & Northern Europe</a><p>M. J. Roberts</p>
</div>
<br/><p>For the more advanced at identification, the definitive text for UK spider identification is the the three volume:</p></br>

<div class="books"><img src= "http://www.apollobooks.com/images/SpidersofGBx400.jpg"/>
<a href="http://www.apollobooks.com/SpidersofGB.htm">The Spiders of Great Britain and Ireland</a><p>M. J. Roberts</p></div>



</br></br><p id="note">***We have several copies of each of these three titles which can be borrowed by arrangement. Just ask.***</p></br></br></br></br>


<p>Web pages with detailed information and scientific illustrations are:</p></br>
<ul>
<li><a href="http://wiki.britishspiders.org.uk/">British Arachnological Society</a></li>
<li><a href="http://www.araneae.unibe.ch">Araneae: Spiders of Europe</a></li>
</ul>

</br><p>Other web pages of interest include:</p></br>
<ul>
<li><a href="http://www.eurospiders.com">Eurospider</a></li>
<li><a href="http://srs.britishspiders.org.uk/">Spider and Harvestman Recording Scheme</a></li>
<li><a href="http://www.buglife.org.uk/conservation/Scotland/Scottish+Species+Checklists">Buglife Scottish Species Checklists</a></li>
</ul>
<div>