* {
    margin: 0;
    padding: 0;
    border: none;
}

div.content h1 {
    font-family: Helvetica, Geneva, Arial, sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    color: #000099;
    line-height: 30px;
    margin: 20px 0px 20px 20px;
}

div.content h2 {
    font-family: Helvetica, Geneva, Arial, sans-serif;
    font-weight: bold;
    font-size: larger;
    color: #5876c1;
    line-height: 30px;
}

div.content h3 {
    font-family: Helvetica, Geneva, Arial, sans-serif;
    font-weight: bold;
    font-size: larger;
    color: #4eba5b;
    line-height: 30px;
}

div.content p, div.language p {
    margin-left: 20px;
    font-family: Helvetica, Geneva, Arial, sans-serif;
    font-weight: normal;
    font-size: medium;
    color: #7e7c7c;
    line-height: 30px;
}

div.content ul {
    margin-left: 50px;
    list-style: none;
}

div.content li {
    list-style-image: url(point.jpg);
    margin-left: 20px;
    font-family: Helvetica, Geneva, Arial, sans-serif;
    font-weight: normal;
    font-size: medium;
    color: #7e7c7c;
    line-height: 30px;
}

div.content a, .language{
    font-family: Helvetica, Geneva, Arial, sans-serif;
}

div.content a:link,  .language:link {
    color: #5876c1;
    text-decoration:none;
}

div.content a:visited, .language:visited {
    color: #5876c1;
}

div.content a:hover, .language:hover {
    color: #000099;
}

div.content a:active, .language:active {
    color: #000099;
}

div.content a[href="mailto:"]{
    color: #4eba5b;
}

div.container {
    margin: 0 auto;
    width: 940px;
}

div.header {
    position: relative;
    float: left;
    width: 940px;
    height: 50px;
    background-image: url("header.jpg");
    background-repeat: repeat-x;
}

div.logo {
    position: relative;
    width: 940px;
    height: 242px;
}

div.logo img {
    float: right;
    margin-right: 10px;
}

div.logo ul {
    list-style: none;
}

div.logo li {
    margin-left: 42.5px;
    line-height: 45px;
    height: 45px;
    width: auto;
    float: left;
}

div.logo li a {
    display: block;
    font-family: Helvetica, Geneva, Arial, sans-serif;
    font-weight: bolder;
    font-size: x-large;
    text-decoration: none;
}

div.logo li a:link, .admin li a:link {
    color: #b5d9b9;
}

div.logo li a:visited {
    color: #80ba80;
}

div.logo li a:hover {
    color: #008800;
}

div.logo li a:active{
    color: #878686;
}

div.nav {
    position: relative;
    float: left;
    width: 940px;
    height: 45px;
    background-image: url("nav.jpg");
    background-repeat: repeat-x;
}

div.nav ul {
    list-style: none;
}

div.nav li {
    margin-left: 42.5px;
    line-height: 45px;
    height: 45px;
    width: auto;
    float: left;
}

div.nav li a {
    display: block;
    font-family: Helvetica, Geneva, Arial, sans-serif;
    font-weight: bolder;
    font-size: x-large;
    text-decoration: none;
}

div.nav li a:link {
    color: #b5d9b9;
}

div.nav li a:visited {
    color: #80ba80;
}

div.nav li a:hover {
    color: #008800;
}

div.nav li a:active{
    color: #878686;
}

div.content {
    position: relative;
    float: left;
    width: 940px;
    height: auto;
    background-image: url("body.jpg");
    background-repeat: repeat-x;
}

a.signup_button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 190px;
    background: #dbecdc;
    padding: 20px;
    font-size: xx-large;
    font-weight: bolder;
}

.round {
    -moz-border-radius:    15px;
    -webkit-border-radius: 15px;
    border-radius:         15px;
}

a.signup_button:hover{
    background: #b4d9b8;
}

div.footer{
    position: relative;
    float: left;  
    width: 940px;
    height: 50px;
    background-image: url("footer.jpg");
    background-repeat: repeat-x;
}

div.books {
    margin: 0px 0px 10px 10px;
    line-height: 75px;
    clear: left;
}

div.books img {
    float: left;
    margin: 10px 10px 10px 50px;
    padding: 5px;
    border: solid;
    border-width: 2px;
    border-color: #5876c1;
    height: 100px;
    clear: left;
}

div.books p {
    color: #4eba5b;
}

.spider {
    width: 60%;
    display: block;
    margin: auto;
}

div.field, div.actions {   
    font-family: Helvetica, Geneva, Arial, sans-serif;
    font-weight: bold;
    font-size: medium;
    color: #7e7c7c;
    line-height: 30px;
    margin: 10px 50px;   
}

div.actions input {
    border-top: 1px solid #90cf97;
    background: #dbecdc;
    background: -webkit-gradient(linear, left top, left bottom, from(#b4d9b8), to(#dbecdc));
    background: -webkit-linear-gradient(top, #b4d9b8, #dbecdc);
    background: -moz-linear-gradient(top, #b4d9b8, #dbecdc);
    background: -ms-linear-gradient(top, #b4d9b8, #dbecdc);
    background: -o-linear-gradient(top, #b4d9b8, #dbecdc);
    padding: 3px 5px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #5876c1;
    font-size: 11px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}

div.actions input:hover {
    border-top-color: #79b880;
    background: #90cf97;
    color: #000099;
}

div.actions input:active {
    border-top-color: #79b882;
    background: #79b882;
}

div.field input, textarea {
    background: #dbecdc;
    border: solid 1px #7e7c7c;
    padding: 2px;
}

div.field input:hover, div.field input:focus, textarea:hover, textarea:focus{
    background: #ffffff;
    border: solid 2px #008800;
}

.error, .alert, .notice, .success, .info,  #error_explanation {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.error, .alert, #error_explanation {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a, #error_explanation h2, #error_explanation p {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

ul.users, ul.events {
  margin-top: 1em;
}

.users li, .events li {
  list-style: none;
}

div.stats {
    margin-left: 20px;
}

div.side {
    margin-left: 20px;
    color: #008800;
    font-weight: normal;
}

#BAS {
    font-size: small;
    text-align: center;
}

div.language {
    height: inherit;
    width: auto;
    float: right;
    margin-right: 10px;
}


#box {
    float: left;
    margin-bottom: auto;
    margin-top: auto;
}
