* {
    margin: 0;
    padding: 0;
    border: none;
}

div.content h1 {
    font-family: Helvetica, Geneva, Arial, sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    color: #000099;
    line-height: 30px;
    margin: 20px 0px 20px 20px;
}

div.content h2 {
    font-family: Helvetica, Geneva, Arial, sans-serif;
    font-weight: bold;
    font-size: larger;
    color: #5876c1;
    line-height: 30px;
}

div.content h3 {
    font-family: Helvetica, Geneva, Arial, sans-serif;
    font-weight: bold;
    font-size: larger;
    color: #4eba5b;
    line-height: 30px;
}

div.content p {
    margin-left: 20px;
    font-family: Helvetica, Geneva, Arial, sans-serif;
    font-weight: normal;
    font-size: medium;
    color: #7e7c7c;
    line-height: 30px;
}

div.content ul {
    margin-left: 50px;
    list-style: none;
}

div.content li {
    list-style-image: url(point.jpg);
    margin-left: 20px;
    font-family: Helvetica, Geneva, Arial, sans-serif;
    font-weight: normal;
    font-size: medium;
    color: #7e7c7c;
    line-height: 30px;
}

div.content a {
    font-family: Helvetica, Geneva, Arial, sans-serif;
}

div.content a:link {
    color: #5876c1;
    text-decoration:none;
}

div.content a:visited {
    color: #5876c1;
}

div.content a:hover {
    color: #000099;
}

div.content a:active {
    color: #000099;
}

div.content a[href="mailto:"]{
    color: #4eba5b;
}

div.container {
    margin: 0 auto;
    width: 940px;
}

div.header {
    position: relative;
    float: left;
    width: 940px;
    height: 50px;
    background-image: url("header.jpg");
    background-repeat: repeat-x;
}

div.logo {
    position: relative;
    width: 940px;
    height: 242px;
}

div.logo img {
    float: right;
    margin-right: 10px;
}

div.logo ul {
    list-style: none;
}

div.logo li {
    margin-left: 42.5px;
    line-height: 45px;
    height: 45px;
    width: auto;
    float: left;
}

div.logo li a {
    display: block;
    font-family: Helvetica, Geneva, Arial, sans-serif;
    font-weight: bolder;
    font-size: x-large;
    text-decoration: none;
}

div.logo li a:link {
    color: #b5d9b9;
}

div.logo li a:visited {
    color: #80ba80;
}

div.logo li a:hover {
    color: #008800;
}

div.logo li a:active{
    color: #878686;
}

div.nav {
    position: relative;
    float: left;
    width: 940px;
    height: 45px;
    background-image: url("nav.jpg");
    background-repeat: repeat-x;
}

div.nav ul {
    list-style: none;
}

div.nav li {
    margin-left: 42.5px;
    line-height: 45px;
    height: 45px;
    width: auto;
    float: left;
}

div.nav li a {
    display: block;
    font-family: Helvetica, Geneva, Arial, sans-serif;
    font-weight: bolder;
    font-size: x-large;
    text-decoration: none;
}

div.nav li a:link {
    color: #b5d9b9;
}

div.nav li a:visited {
    color: #80ba80;
}

div.nav li a:hover {
    color: #008800;
}

div.nav li a:active{
    color: #878686;
}

div.content {
    position: relative;
    float: left;
    width: 940px;
    height: auto;
    background-image: url("body.jpg");
    background-repeat: repeat-x;
}

a.signup {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    padding: 20px;
}

div.footer{
    position: relative;
    float: left;  
    width: 940px;
    height: 50px;
    background-image: url("footer.jpg");
    background-repeat: repeat-x;
}

div.books {
    margin: 0px 0px 10px 10px;
    line-height: 75px;
    clear: left;
}

div.books img {
    float: left;
    margin: 10px 10px 10px 50px;
    padding: 5px;
    border: solid;
    border-width: 2px;
    border-color: #5876c1;
    height: 100px;
    clear: left;
}

div.books p {
    color: #4eba5b;
}

#note {
    font-size: large;
}

div.field, div.actions {   
    font-family: Helvetica, Geneva, Arial, sans-serif;
    font-weight: bold;
    font-size: medium;
    color: #7e7c7c;
    line-height: 30px;
    margin: 10px 50px;
}

div.field input {
    border: solid 1px #7e7c7c;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

ul.users, ul.events {
  margin-top: 1em;
}

.users li, .events li {
  list-style: none;
}

