    <div class="header"></div>
    <div class="logo">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Sign in", '#' %></li>
      </ul>
    <%= image_tag("logo.jpg") %>
    </div>